.frameChild {
  position: relative;
  border-radius: 50%;
  width: 78px;
  height: 78px;
  object-fit: cover;
}
.abdullah {
  position: relative;
  line-height: 169.69%;
  font-weight: 500;
  display: inline-block;
  width: 117px;
  flex-shrink: 0;
}
.abdullahWrapper {
  width: 117px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.vectorIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.lastInteractin5 {
  position: relative;
  display: inline-block;
  width: 182px;
  flex-shrink: 0;
}
.frameWrapper,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.vectorParent {
  gap: var(--gap-3xs);
}
.frameWrapper {
  align-self: stretch;
  font-size: var(--caption-r-14-size);
  color: var(--update-paragraph);
}
.ellipseParent,
.frameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.ellipseParent {
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-13xl);
}
.adamDavis {
  position: relative;
  line-height: 169.69%;
  font-weight: 500;
}
.adamDavisWrapper {
  width: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.hoursAgo {
  position: relative;
}
.frameParent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-25xl);
  font-size: var(--caption-r-14-size);
  color: var(--update-paragraph);
}
.frameParent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.frameDiv,
.frameGroup {
  display: flex;
  flex-direction: row;
}
.frameDiv {
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-13xl);
  text-align: right;
}
.frameGroup {
  align-self: stretch;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.softUiDesign {
  align-self: stretch;
  position: relative;
  font-size: var(--t2-m-24-size);
  line-height: 163.19%;
  font-weight: 500;
  text-align: right;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-23xl);
  text-align: left;
  font-size: var(--t3-r-22-size);
  color: var(--update-white);
  font-family: var(--h3-semi-40);
}
