@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,600;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
body {
  margin: 0;
  line-height: normal;
  max-width: 100%;
}
:root {
  /* fonts */
  --h3-semi-40: Roboto;
  --font-inter: Inter;
  --font-inherit: inherit;

  /* font sizes */
  --p3-r-16-size: 16px;
  --p1-m-20-size: 20px;
  --font-size-xs: 12px;
  --h3-semi-40-size: 40px;
  --font-size-9xl: 28px;
  --caption-r-14-size: 14px;
  --t2-m-24-size: 24px;
  --t1-m-32-size: 32px;
  --t3-r-22-size: 22px;
  --p2-r-18-size: 18px;
  --h2-semi-48-size: 48px;

  /* Colors */
  --color-gray-800: #fffefe;
  --color-gray-100: #27272c;
  --color-gray-200: #252629;
  --color-gray-300: #202042;
  --color-gray-400: #242427;
  --color-gray-500: #1e1e23;
  --update-sub-bg: #1b1b1d;
  --color-gray-600: #161617;
  --update-black: #0a0a0a;
  --color-gray-700: rgba(40, 41, 46, 0.7);
  --color-springgreen: #03e36a;
  --color-white-100: #fff;
  --update-white: #fff;
  --color-lightslategray-100: #9898aa;
  --color-lightslategray-200: #91919e;
  --secondary: #3e7df9;
  --update-placeholder: #464957;
  --color-darkslategray-100: #303038;
  --update-gray: #2c2d32;
  --color-midnightblue-100: #18185b;
  --color-midnightblue-200: #141464;
  --color-midnightblue-300: #171750;
  --color-midnightblue-400: #131352;
  --color-silver-100: #c7c7d6;
  --stock: #c7c7d6;
  --color-silver-200: #b4b4bd;
  --color-darkgray: #ababb1;
  --star: #ed8a19;
  --color-mediumspringgreen: #00ff94;
  --update-brand: #7510f5;
  --warn: #ff0000;
  --gray: #5c5c68;
  --color-lavender-100: #e9e9ff;
  --brand-shade: #e3d7fc;
  --update-paragraph: #d1d1f0;
  --success: #069425;
  --color-mediumorchid: #bf43d3;
  --color-black: #000;
  --color-mediumslateblue: #aa68fe;
  --color-slategray: #808290;
  --background: #f1eef6;
  --color-firebrick: #b40404;
  --color-fuchsia: #cd14eb;

  /* Gaps */
  --gap-11xl: 30px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-16xl: 35px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-8xl: 27px;
  --gap-10xl: 29px;
  --gap-6xs: 7px;
  --gap-7xl: 26px;
  --gap-7xs: 6px;
  --gap-128xl: 147px;
  --gap-17xl: 36px;
  --gap-sm: 14px;
  --gap-41xl: 60px;
  --gap-5xl: 24px;
  --gap-8xs: 5px;
  --gap-45xl: 64px;
  --gap-13xl: 32px;
  --gap-37xl: 56px;
  --gap-23xl: 42px;
  --gap-25xl: 44px;
  --gap-624xl: 643px;
  --gap-xs: 12px;
  --gap-111xl: 130px;
  --gap-mini: 15px;
  --gap-61xl: 80px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-19xl: 38px;
  --padding-mini: 15px;
  --padding-xl: 20px;
  --padding-3xs: 10px;
  --padding-xs: 12px;
  --padding-7xl: 26px;
  --padding-lg: 18px;
  --padding-base: 16px;
  --padding-13xl: 32px;
  --padding-mid: 17px;
  --padding-31xl: 50px;
  --padding-28xl: 47px;
  --padding-27xl: 46px;
  --padding-4xl-9: 23.9px;
  --padding-7xs: 6px;
  --padding-smi: 13px;
  --padding-5xl: 24px;
  --padding-10xl: 29px;
  --padding-6xl: 25px;
  --padding-11xl: 30px;
  --padding-8xl: 27px;
  --padding-15xl: 34px;
  --padding-39xl: 58px;
  --padding-4xs: 9px;
  --padding-2xl: 21px;
  --padding-10xs: 3px;
  --padding-81xl: 100px;
  --padding-98xl: 117px;
  --padding-61xl: 80px;
  --padding-65xl: 84px;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-8xs: 5px;
  --br-xl: 20px;
  --br-31xl: 50px;
  --br-7xs: 6px;
  --br-smi-3: 12.3px;
}
